.container{
  width: 700px;
  margin: 0px auto;
}
@media (max-width: 1000px){
  .container{
    width: 800px;
  }
}
@media (max-width: 800px){
  .container{
    width: 600px;
  }
}
@media (max-width: 500px){
  .container{
    width: 400px;
  }
}
.container h2{
  color: #CC704B;
  font-size: 24px;
  font-weight: 400;
  }
